@import "node_modules/bootstrap/scss/bootstrap";

$bg-blue: #6A82AD;


.text-white {
  fill: white;
}

html
{
  /*background-color: gray;*/
}

body
{
/*  background: url('/iphone6.png') top center no-repeat white;
  background-color: white;
	max-width: 380px;
	height: 672px;
	max-height: 672px;
	overflow: scroll;
	margin: 82px auto 0 auto !important;
  padding: 2px;
*/}


img {
  @extend .img-fluid;
}



/*============================ App.js styles*/
.App {
  @extend .container;
  margin: 0;
  padding: 0;
  max-width: 400px;
  padding-top: 54px;
}

.App-header {
  @extend .bg-light;
  @extend .text-dark;
  @extend .border-light;
  @extend .border-bottom;

}

.App-header-nav
{
  @extend .navbar;
  @extend .fixed-top;
  @extend .navbar-light;
  @extend .bg-light;
  padding: 4px;
  /*border-bottom: 1px solid gray;*/
  box-shadow: 1px 1px 2px black;

}

.App-title
{
  font-size: 16px;
  @extend .text-dark;
}


/*===================================== challenge styles */

.ChallengeItem
{
  @extend .btn;
  @extend .btn-block;
  @extend .text-white;
  background-color: $bg-blue;
  margin-bottom: 6px;
  text-align: left;
}

.ChallengeListTitle
{
  font-size: 1.8rem;
  font-weight: 300;
  margin-bottom: 0;
  padding-bottom: 0;
}


.ChallengeItem .StartDate
{
  padding-bottom: 6px;
}

.ChallengeDetail .card
{
  /*padding: 1em;*/
  @extend .text-white;
  background-color: $bg-blue;
}

.ChallengeDescription {
  margin-top: 1em;
  padding: 1em;
}

