@import "node_modules/bootstrap/scss/bootstrap";

$bg-blue: #6A82AD;
$top-header-height: 30px;
$bottom-footer-height: 54px;
$full-screen-width: 512px;

.text-white {
  fill: white;
}

img {
  @extend .img-fluid;
}


.icon-primary {
  color: theme-color("primary");
  fill: theme-color("primary");;
}
.icon-secondary {
  color: theme-color("secondary");
  fill: theme-color("secondary");
}
.icon-success {
  color: theme-color("success");
  fill: theme-color("success");
}
.icon-danger {
  color: theme-color("danger");
  fill: theme-color("danger");
}
.icon-warning {
  color: theme-color("warning");
  fill: theme-color("warning");
}
.icon-info {
  color: theme-color("info");
  fill: theme-color("info");
}
.icon-light {
  color: theme-color("light");
  fill: theme-color("light");
}
.icon-dark {
  color: theme-color("dark");
  fill: theme-color("dark");
}

svg.hidden {
  display: none;
  visibility: hidden;
}

small tt {
  font-size: .65rem;
}

.btn-group > .btn:first-child
{
  margin-top: 8px;
}

/*============================ App.js styles*/
.container
{
	max-width: $full-screen-width;
	margin: 0 auto;
}


.App {
  padding-top: $top-header-height;
  padding-bottom: $bottom-footer-height;
  padding-left: 0;
  padding-right: 0;
}

.App .screen
{
  padding: 4px 8px 2px 8px;
  min-height: 100vh;
}

.App .screen.home
{
  background-image: url('/img/hands.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
}


.App-header {
  @extend .bg-light;
  @extend .text-dark;
  @extend .border-light;
  @extend .border-bottom;
  height: $top-header-height;
  box-shadow: 0px 2px 2px black;
  text-align: center;
  line-height: $top-header-height;
  font-size: 18px;
}


.App-footer-toolbar, .App-footer-toolbar .btn-group
{
	max-width: $full-screen-width;
	width: 100%;
	padding: 0;
	margin: 0;
	background-color: $gray-200;
}
.App-footer-toolbar .btn
{
	margin: 0;
	color: $gray-600;
	font-size: 10px;
	border-right: 1px solid $gray-400;
}

.App-footer-toolbar .btn:last-child
{
	border-right-style: none;
}

.App-footer
{
	padding: 0;
	height: $bottom-footer-height;
}

.App-footer-toolbar svg
{
	fill: $gray-600;
	height: 16px * 1.3;
	width: 14px * 1.3;
}



/*===================================== challenge styles */


.ChallengeItem
{
  @extend .btn;
  @extend .btn-block;
  color: $gray-600;
  background-color: white;

  width: 85%;
  margin: 0 auto;
  text-align: left;
}

.ChallengeButtons .btn-toolbar, .ChallengeButtons .btn-group
{
  width: 100%;
}


.NewChallengeButton
{
  @extend .btn;
  @extend .btn-block;
  color: $gray-600;
  background-color: white;
  white-space: normal;

  width: 60%;
  margin: 0 auto;
  margin-top: 48px;
  text-center: left;
  font-size: 18px;
  line-height: 1.1em;
  padding-top: 1em;
  padding-bottom: 1em;
}

.ChallengeItemp p2
{
  display: inline-box;
}

.ChallengeListTitle
{
  font-size: 1.6rem;
  font-weight: 300;
  margin-bottom: 0;
  padding-bottom: 0;
  white-space: normal;
  line-height: 1.1em;
  text-align: center;
}

.ChallengeItem.home
{
  margin-top: 2em;
  min-height: 200px;

}

.ChallengeItem .StartDate
{
  padding-bottom: 6px;
}



.ChallengeDetailHeader
{
  padding: 1em;
  color: $gray-600;
}

.ChallengeDescription {
  margin-top: 1em;
  padding: 1em;
}

/*Form Styles */

label
{
  font-weight: bold;
}

.DatePicker .input-group-text,
.DatePicker input
{
  font-size: 12px;
  line-height: auto;
}

/*============================== Ratings */

.Star svg
{
  fill: transparent;
  stroke: gray;
  stroke-width: 1.1px;
}

.Star.filled svg
{
  fill: gold;
  stroke: gold;
}

/*============================== LOGIN */

.App.login
{
  background-color: #6999C9;
  padding: 0;
  min-height: 100vh;
}

.Login.screen
{
  padding-left: 2em;
  padding-right: 2em;
  padding-top: 26px;
}
.LoginLogo
{
  margin-bottom: 64px;
  margin-left: auto;
  margin-right: auto;
}